.post{
    background-image: url('../../assets/background.png');
    background-repeat: no repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    color: white;
    h2{
        width: 20vw;
        font-size: 2em;
        margin-left: 65px;
    }
}

.devoDoar {
    height: 70vh;
}

.boxCard{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    article{
        border: rgb(0, 17, 255);
        width: 20%;
        height: 80%;
        background-color: rgba(1, 87, 148, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 20px;
        p {
            width: 70%;
            font-size: 15px;
            text-align: center;
        }
        }       
}

@media(max-width: 1000px){
    .boxCard{
        flex-wrap: wrap;
        article{
        }
        p{
            font-size: 1.3vw;
        }
    
    }
}

@media(max-width: 760px){
    .post{
        background-position: center;
        justify-content: center;
        h2{
            margin-left: 0;
            width: 60%;
            text-align: center;
            font-size: 30px;
            }
    }
        

    .devoDoar{
        height: 90vh;
        div{
            justify-content: center;
        }
        h2{
            margin-left: 0;
        }
    }

       .boxCard{
        height: auto;
        flex-wrap: wrap;
        gap: 15px;
        article{
            width: 120px;
            height: 35vh;
            p{
                font-size: 10px;
            }
        }
    }
}

@media(max-width: 487px){
    .devoDoar{
        height: 165vh;
    }
}
