header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(0,27,47,1) 0%, rgba(0,86,149,1) 88%);
    list-style: none;
    }

.boxLogo{
   width: 20vw;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: white;
   height: 15vh;

   img{
    height: 8vh;
   }

   h1{
    font-size: 20px;
   }
}

.boxMenu{
    width: 40vw;
        

    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        a{
            color: white;
        }
    }
}

.boxSearch{
    border: solid white;
    border-radius: 15px;
    width: 20vw;
    height: 6vh;
    display: flex;
    align-items: center;   
    justify-content: space-around;
    margin-right: 20px;
}

.boxInput {
    outline: none;
    background-color: transparent;
    border: none;
    
    &::placeholder{
        color: white;
    }
}