footer {
    height: 30vh;
    color: white;
}

.boxRedes {
    background-color: rgba(0, 86, 149,1);
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 1.5em;
    nav{
    
    width: 20vw;
    display: flex;
    justify-content: space-around;
    }
}

.text{
    background-color: rgba(35,32,32,1);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1000px){
    .boxRedes{
        nav{
        width: 50vw;

        }
    }
}

@media(max-width: 479px){
    .boxRedes{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .text{
        text-align: center;
    }
    
}